<p>The Wall verder afwerken met naar keuze :</p>
<ul>
<li>lua/algernon</li>
<li>PHP</li>
</ul>
<h1 id="lamp-linux-apache-mysql-php-">LAMP (Linux Apache Mysql Php)</h1>
<p>Je moet een webserver installeren:</p>
<p><code>sudo apt-get install apache2</code></p>
<p>Als je naar <code>localhost</code> surft, krijg je een default-site van apache te zien,
dewelke op schijf te vinden is in de map <code>/var/www/html/</code>.
De configuratie van apache is (zoals van bijna elk standaard Linux-programma)
te vinden in de map <code>/etc/apache/</code>.
Om niet altijd als root te werken, kan je de map <code>/var/www/html</code> best alle
schrijfbaar maken voor de user waar je normaal mee werkt, b.v. <code>sudo chown jos:jos /var/www/html</code></p>
<p>Je hebt een achterliggende database nodig:</p>
<p><code>sudo apt-get install mysql-server</code></p>
<p>Tijdens de installatie wordt het root-wachtwoord van de database gevraagd.
Vergeet dit niet! Gebruik b.v. <code>imma</code>.</p>
<p>Php:</p>
<p><code>sudo apt-get install php5</code></p>
<p>Vanaf nu kan je in de HTML-bestanden die door Apache geservet worden, ook
php gebruiken. Sla daarvoor een bestand <code>test.php</code> (de extensie is belangrijk!)
op in <code>/var/www/html</code> met de inhoud <code>&lt;?php phpinfo() ?&gt;</code>.
Als je nu naar <code>localhost/test.php</code> surft, krijg je info over php te zien.</p>
<p>PhpMyAdmin (handig om de database te benaderen):</p>
<p><code>sudo apt-get install phpmyadmin</code></p>
<p>Dit installeert de web-applicatie PhpMyAdmin op je Apache server,
te benaderen via <code>localhost/phpmyadmin</code>.
Tijdens de installatie wordt gevraagd om het administratie-passwoord van je database.
Dit heb je eerder ingesteld op <code>imma</code>.
Er wordt ook gevraagd om een wachtwoord in te stellen voor de phpmyadmin-applicatie,
kies b.v. <code>phpmyadmin</code>. 
Nu zou je op <code>localhost/phpmyadmin</code> moeten kunnen aanmelden met user <code>phpmyadmin</code> en idem wachtwoord.</p>

